USE [Thesises]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](20) NOT NULL,
 CONSTRAINT [PK_NATIONALITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEGREES]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](20) NOT NULL,
 CONSTRAINT [PK_DEGREES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTAMENTS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FACULTY_ID] [int] NOT NULL,
	[NAME] [nchar](40) NOT NULL,
	[HEAD_ID] [int] NULL,
	[DESRIPTION] [nchar](100) NULL,
 CONSTRAINT [PK_DEPARTAMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCUMENT_TYPES]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](20) NOT NULL,
	[DESCRIPTION] [nchar](100) NULL,
 CONSTRAINT [PK_DOCUMENT_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AUTHOR_ID] [int] NULL,
	[THESIS_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
	[SIZE] [int] NOT NULL,
	[FILE_EXTENSION] [nchar](8) NOT NULL,
	[DESCRIPTION] [nchar](100) NULL,
	[PUBLIC_ACCESS] [tinyint] NOT NULL,
	[BINCONTENT] [varbinary](max) NULL,
	[DT_ADDED] [datetime] NULL,
 CONSTRAINT [PK_DOCUMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EDUCATION_FORMS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDUCATION_FORMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](20) NOT NULL,
 CONSTRAINT [PK_FORMS_OF_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACULTIES]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HEAD_ID] [int] NULL,
	[NAME] [nchar](30) NOT NULL,
	[DESCRIPTION] [nchar](100) NULL,
 CONSTRAINT [PK_FACULTIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KEYW_THESIS_ASSOCIACIONS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYW_THESIS_ASSOCIACIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THESIS_ID] [int] NOT NULL,
	[KEYWORD_ID] [int] NOT NULL,
 CONSTRAINT [PK_KEYWORD_THESIS_ASC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KEYWORDS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYWORDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORD] [nchar](20) NOT NULL,
 CONSTRAINT [PK_KEYWORDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OFFICIALS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nchar](20) NOT NULL,
	[LAST_NAME] [nchar](20) NOT NULL,
	[POSITION_ID] [int] NOT NULL,
	[DEPARTAMENT_ID] [int] NOT NULL,
	[EMAIL] [nchar](20) NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PASSWORDS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSWORDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OFFICIAL_ID] [int] NOT NULL,
	[PASS] [nchar](50) NOT NULL,
 CONSTRAINT [PK_PASSWORDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POSITIONS]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](30) NOT NULL,
 CONSTRAINT [PK_POSITIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPECIALITIES]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](30) NOT NULL,
	[DEPARTAMENT_ID] [int] NOT NULL,
	[DEGREE_ID] [int] NOT NULL,
 CONSTRAINT [PK_SPECIALITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES]    Script Date: 30.12.2013 г. 18:20:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ATH_FNAME] [nchar](30) NOT NULL,
	[ATH_SNAME] [nchar](30) NULL,
	[ATH_LNAME] [nchar](30) NOT NULL,
	[ATH_FACNMB] [nchar](15) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[SPECIALITY_ID] [int] NOT NULL,
	[FORM_ID] [int] NOT NULL,
	[ATH_EMAIL] [nchar](30) NULL,
	[SUPERVISOR_ID] [int] NOT NULL,
	[TITLE] [nchar](60) NOT NULL,
	[ANNOTATION] [nchar](400) NOT NULL,
	[DT_ASSIGNED] [date] NOT NULL,
	[DT_OBTAINED] [date] NULL,
	[SCORE] [float] NULL,
 CONSTRAINT [PK_FINALS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_PUBLIC_ACCESS]  DEFAULT ((0)) FOR [PUBLIC_ACCESS]
GO
ALTER TABLE [dbo].[DEPARTAMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTS_FACULTIES] FOREIGN KEY([FACULTY_ID])
REFERENCES [dbo].[FACULTIES] ([ID])
GO
ALTER TABLE [dbo].[DEPARTAMENTS] CHECK CONSTRAINT [FK_DEPARTAMENTS_FACULTIES]
GO
ALTER TABLE [dbo].[DEPARTAMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTS_OFFICIALS] FOREIGN KEY([HEAD_ID])
REFERENCES [dbo].[OFFICIALS] ([ID])
GO
ALTER TABLE [dbo].[DEPARTAMENTS] CHECK CONSTRAINT [FK_DEPARTAMENTS_OFFICIALS]
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_DOCUMENT_TYPES] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[DOCUMENT_TYPES] ([ID])
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_DOCUMENT_TYPES]
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_FINALS] FOREIGN KEY([THESIS_ID])
REFERENCES [dbo].[THESISES] ([ID])
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_FINALS]
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_OFFICIALS] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[OFFICIALS] ([ID])
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_OFFICIALS]
GO
ALTER TABLE [dbo].[FACULTIES]  WITH CHECK ADD  CONSTRAINT [FK_FACULTIES_OFFICIALS] FOREIGN KEY([HEAD_ID])
REFERENCES [dbo].[OFFICIALS] ([ID])
GO
ALTER TABLE [dbo].[FACULTIES] CHECK CONSTRAINT [FK_FACULTIES_OFFICIALS]
GO
ALTER TABLE [dbo].[KEYW_THESIS_ASSOCIACIONS]  WITH CHECK ADD  CONSTRAINT [FK_KEYW_THESIS_ASSOCIACIONS_KEYWORDS] FOREIGN KEY([KEYWORD_ID])
REFERENCES [dbo].[KEYWORDS] ([ID])
GO
ALTER TABLE [dbo].[KEYW_THESIS_ASSOCIACIONS] CHECK CONSTRAINT [FK_KEYW_THESIS_ASSOCIACIONS_KEYWORDS]
GO
ALTER TABLE [dbo].[KEYW_THESIS_ASSOCIACIONS]  WITH CHECK ADD  CONSTRAINT [FK_KEYW_THESIS_ASSOCIACIONS_THESISES] FOREIGN KEY([THESIS_ID])
REFERENCES [dbo].[THESISES] ([ID])
GO
ALTER TABLE [dbo].[KEYW_THESIS_ASSOCIACIONS] CHECK CONSTRAINT [FK_KEYW_THESIS_ASSOCIACIONS_THESISES]
GO
ALTER TABLE [dbo].[OFFICIALS]  WITH CHECK ADD  CONSTRAINT [FK_OFFICIALS_DEPARTAMENTS] FOREIGN KEY([DEPARTAMENT_ID])
REFERENCES [dbo].[DEPARTAMENTS] ([ID])
GO
ALTER TABLE [dbo].[OFFICIALS] CHECK CONSTRAINT [FK_OFFICIALS_DEPARTAMENTS]
GO
ALTER TABLE [dbo].[OFFICIALS]  WITH CHECK ADD  CONSTRAINT [FK_OFFICIALS_POSITIONS] FOREIGN KEY([POSITION_ID])
REFERENCES [dbo].[POSITIONS] ([ID])
GO
ALTER TABLE [dbo].[OFFICIALS] CHECK CONSTRAINT [FK_OFFICIALS_POSITIONS]
GO
ALTER TABLE [dbo].[PASSWORDS]  WITH CHECK ADD  CONSTRAINT [FK_PASSWORDS_OFFICIALS] FOREIGN KEY([OFFICIAL_ID])
REFERENCES [dbo].[OFFICIALS] ([ID])
GO
ALTER TABLE [dbo].[PASSWORDS] CHECK CONSTRAINT [FK_PASSWORDS_OFFICIALS]
GO
ALTER TABLE [dbo].[SPECIALITIES]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALITIES_DEGREES] FOREIGN KEY([DEGREE_ID])
REFERENCES [dbo].[DEGREES] ([ID])
GO
ALTER TABLE [dbo].[SPECIALITIES] CHECK CONSTRAINT [FK_SPECIALITIES_DEGREES]
GO
ALTER TABLE [dbo].[SPECIALITIES]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALITIES_DEPARTAMENTS] FOREIGN KEY([DEPARTAMENT_ID])
REFERENCES [dbo].[DEPARTAMENTS] ([ID])
GO
ALTER TABLE [dbo].[SPECIALITIES] CHECK CONSTRAINT [FK_SPECIALITIES_DEPARTAMENTS]
GO
ALTER TABLE [dbo].[THESISES]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_COUNTRIES] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRIES] ([ID])
GO
ALTER TABLE [dbo].[THESISES] CHECK CONSTRAINT [FK_THESISES_COUNTRIES]
GO
ALTER TABLE [dbo].[THESISES]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_EDUCATION_FORMS] FOREIGN KEY([FORM_ID])
REFERENCES [dbo].[EDUCATION_FORMS] ([ID])
GO
ALTER TABLE [dbo].[THESISES] CHECK CONSTRAINT [FK_THESISES_EDUCATION_FORMS]
GO
ALTER TABLE [dbo].[THESISES]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_OFFICIALS] FOREIGN KEY([SUPERVISOR_ID])
REFERENCES [dbo].[OFFICIALS] ([ID])
GO
ALTER TABLE [dbo].[THESISES] CHECK CONSTRAINT [FK_THESISES_OFFICIALS]
GO
ALTER TABLE [dbo].[THESISES]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_SPECIALITIES] FOREIGN KEY([SPECIALITY_ID])
REFERENCES [dbo].[SPECIALITIES] ([ID])
GO
ALTER TABLE [dbo].[THESISES] CHECK CONSTRAINT [FK_THESISES_SPECIALITIES]
GO
