USE [master]
GO
/****** Object:  Database [ThesisesDW]    Script Date: 14.1.2014 г. 17:33:37 ч. ******/
CREATE DATABASE [ThesisesDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThesisesDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ThesisesDW.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThesisesDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ThesisesDW_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThesisesDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThesisesDW]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
/****** Object:  StoredProcedure [dbo].[cleanFactsOnNeed]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[cleanFactsOnNeed]

AS
BEGIN

	SET NOCOUNT ON;

DECLARE @maxDateVisited date;
DECLARE @minDateNotVisited date;


SELECT @minDateNotVisited = MIN(dbo.THESISES_STG.DT_OBT) from dbo.THESISES_STG
	 WHERE VISITED=0;

SELECT @maxDateVisited = MAX(dbo.THESISES_STG.DT_OBT) from dbo.THESISES_STG
     WHERE VISITED=1;

	 IF @minDateNotVisited > @maxDateVisited
	  BEGIN
	   PRINT 'No need to delete records.'
	   RETURN
      END

	  update dbo.THESISES_STG set VISITED = 0;
	  update dbo.THESISES_STG_BEXT set VISITED = 0;
	  delete dbo.THESISES_FACT_A;
	  delete dbo.THESISES_FACT_B;
	  delete dbo.THESISES_FACT_A_STG;
	  delete dbo.THESISES_FACT_B_STG;

END

GO
/****** Object:  StoredProcedure [dbo].[fillDatesA]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fillDatesA]

AS
BEGIN

	SET NOCOUNT ON;

DECLARE @yr int;
DECLARE @year varchar(9);
DECLARE @curYear int;
DECLARE @minYear int;


SELECT @minYear =MIN(YEAR(dbo.THESISES_STG.DT_OBT)) from dbo.THESISES_STG
	left join dbo.A_DATES on YEAR(dbo.A_DATES.ST_DATE) = YEAR(dbo.THESISES_STG.DT_OBT)
	 WHERE VISITED=0;

SET @curYear = YEAR(GetDate());

SET @yr = @minYear-1;

	WHILE @yr <= @curYear 
     BEGIN  

	 SET @year =  CONVERT(varchar, @yr) + '/'+ CONVERT(varchar, @yr+1);

	  insert into dbo.A_DATES(YEAR, SEMESTER, ST_DATE, END_DATE) 
	  select @year, 'Winter', CONVERT(Date, '01-10-'+ LEFT(@year, 4), 104),  CONVERT(Date, '28-02-'+  RIGHT(@year, 4), 104)
	  where  not exists (select ID from A_DATES where YEAR=@year and SEMESTER='Winter') ;

      insert into dbo.A_DATES (YEAR, SEMESTER, ST_DATE, END_DATE) 
	  select @year, 'Summer', CONVERT(DateTime, '16-2-'+ RIGHT(@year, 4), 104),  CONVERT(DateTime, '30-09-'+ RIGHT(@year, 4), 104)
	  where  not exists (select ID from A_DATES where YEAR=@year and SEMESTER='Summer') ;

	  SET @yr = @yr+1;
     END  
END

GO
/****** Object:  StoredProcedure [dbo].[fillDatesB]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fillDatesB]

AS
BEGIN

	SET NOCOUNT ON;

DECLARE @yr int;
DECLARE @year varchar(9);
DECLARE @curYear int;
DECLARE @minYear int;


SELECT @minYear =MIN(YEAR(dbo.THESISES_STG.DT_OBT)) from dbo.THESISES_STG
	left join dbo.A_DATES on YEAR(dbo.A_DATES.ST_DATE) = YEAR(dbo.THESISES_STG.DT_OBT)
	 WHERE VISITED=0;

SET @curYear = YEAR(GetDate());

SET @yr = @minYear-1;

	WHILE @yr <= @curYear 
     BEGIN  

	 SET @year =  CONVERT(varchar, @yr) + '/'+ CONVERT(varchar, @yr+1);

	  insert into dbo.B_DATES(YEAR, ST_DATE, END_DATE) 
	  select @year,  CONVERT(Date, '01-10-'+ LEFT(@year, 4), 104),  CONVERT(Date, '30-09-'+  RIGHT(@year, 4), 104)
	  where  not exists (select ID from B_DATES where YEAR=@year) ;

	  SET @yr = @yr+1;
     END  
END

GO
/****** Object:  StoredProcedure [dbo].[fillFactA]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fillFactA]
AS
BEGIN

	SET NOCOUNT ON;
	
     delete dbo.THESISES_FACT_A_STG ;

     insert into dbo.THESISES_FACT_A_STG (ORG_FORM_ID, ORG_OFC_ID , ORG_CNTR_ID, ORG_SPEC_ID, DT_OBT, DPL_CNT, DPL_SCR_SUM ) 
	 select T.ORG_FORM_ID, T.ORG_OFC_ID, T.ORG_CNTR_ID, T.ORG_SPEC_ID,
	 CASE
	 WHEN MONTH(T.DT_OBT)<= 2 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,(YEAR(T.DT_OBT)-1)), 104)
	 WHEN MONTH(T.DT_OBT)> 2 AND MONTH(T.DT_OBT)< 10 THEN CONVERT(Date, '10-07-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 WHEN MONTH(T.DT_OBT)>= 10 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 END AS DATE,
	  COUNT(1) as DPL_CNT, SUM(T.SCORE) as DPL_SCR_SUM
	 from THESISES_STG T
	 LEFT JOIN dbo.THESISES_FACT_A_STG TS
	 ON T.ORG_SPEC_ID = TS.ORG_SPEC_ID
	 AND T.ORG_FORM_ID = TS.ORG_FORM_ID
	 AND T.ORG_CNTR_ID = TS.ORG_CNTR_ID
	 AND T.ORG_SPEC_ID = TS.ORG_SPEC_ID 
	 WHERE T.VISITED=0
	 GROUP BY T.ORG_FORM_ID, T.ORG_OFC_ID, T.ORG_CNTR_ID, T.ORG_SPEC_ID,  	
	 CASE
	 WHEN MONTH(T.DT_OBT)<= 2 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,(YEAR(T.DT_OBT)-1)), 104)
	 WHEN MONTH(T.DT_OBT)> 2 AND MONTH(T.DT_OBT)< 10 THEN CONVERT(Date, '10-07-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 WHEN MONTH(T.DT_OBT)>= 10 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 END;



	 UPDATE THESISES_FACT_A_STG
     SET OFFICIAL_ID = ofc.ID
	FROM THESISES_FACT_A_STG t
    INNER JOIN OFFICIALS ofc
     ON t.ORG_OFC_ID = ofc.ORG_ID
    WHERE t.OFFICIAL_ID = 0

	 UPDATE THESISES_FACT_A_STG
     SET  COUNTRY_ID= c.ID
    FROM THESISES_FACT_A_STG t
    INNER JOIN COUNTRIES c
     ON t.ORG_CNTR_ID = c.ORG_ID
    WHERE t.COUNTRY_ID = 0

	 UPDATE THESISES_FACT_A_STG
     SET SPECIALITY_ID = s.ID
    FROM THESISES_FACT_A_STG t
    INNER JOIN SPECIALITIES s
     ON t.ORG_SPEC_ID = s.ORG_ID
    WHERE t.SPECIALITY_ID = 0

	 UPDATE THESISES_FACT_A_STG
     SET FORM_ID = s.ID
    FROM THESISES_FACT_A_STG t
    INNER JOIN EDUCATION_FORMS s
     ON t.ORG_FORM_ID = s.ORG_ID
    WHERE t.FORM_ID = 0	

	 UPDATE THESISES_FACT_A_STG
     SET DATE_ID = d.ID
    FROM THESISES_FACT_A_STG t
    INNER JOIN A_DATES d
     ON t.DT_OBT > d.ST_DATE
	 AND  t.DT_OBT < d.END_DATE
    WHERE t.DATE_ID = 0


insert into dbo.THESISES_FACT_A( COUNTRY_ID, SPECIALITY_ID, FORM_ID, OFFICIAL_ID, DATE_ID,  DPL_COUNT, DPL_SCORE_SUM )
select COUNTRY_ID, SPECIALITY_ID, FORM_ID, OFFICIAL_ID, DATE_ID,  DPL_CNT, DPL_SCR_SUM   from dbo.THESISES_FACT_A_STG

END

GO
/****** Object:  StoredProcedure [dbo].[fillFactB]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fillFactB]
AS
BEGIN

	SET NOCOUNT ON;
	
     delete THESISES_FACT_B_STG;

     insert into dbo.THESISES_FACT_B_STG (ORG_DEP_ID, ORG_KW_ID , DT_OBT, DPL_COUNT , DPL_SCORE_SUM ) 
	 select TE.ORG_DEP_ID, TE.ORG_KW_ID, 
	 CASE
	 WHEN MONTH(T.DT_OBT)<= 2 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,(YEAR(T.DT_OBT)-1)), 104)
	 WHEN MONTH(T.DT_OBT)> 2 AND MONTH(T.DT_OBT)< 10 THEN CONVERT(Date, '10-07-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 WHEN MONTH(T.DT_OBT)>= 10 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 END AS DT_OBT,
	  COUNT(1) as DPL_CNT, SUM(T.SCORE) as DPL_SCR_SUM
	 from THESISES_STG T
	 INNER JOIN dbo.THESISES_STG_BEXT TE on T.ORG_ID = TE.ORG_ID
	 LEFT JOIN dbo.THESISES_FACT_B_STG TS on 
	 TE.ORG_DEP_ID = TE.ORG_DEP_ID
	 AND TE.ORG_KW_ID = TE.ORG_KW_ID
	 WHERE T.VISITED=0
	 GROUP BY TE.ORG_DEP_ID, TE.ORG_KW_ID,  	
	 CASE
	 WHEN MONTH(T.DT_OBT)<= 2 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,(YEAR(T.DT_OBT)-1)), 104)
	 WHEN MONTH(T.DT_OBT)> 2 AND MONTH(T.DT_OBT)< 10 THEN CONVERT(Date, '10-07-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 WHEN MONTH(T.DT_OBT)>= 10 THEN CONVERT(Date, '10-10-'+CONVERT(varchar,YEAR(T.DT_OBT)), 104)
	 END;

	 
	 UPDATE THESISES_FACT_B_STG
     SET KEYWORD_ID = s.ID
	FROM THESISES_FACT_B_STG t
    INNER JOIN KEYWORDS s
     ON t.ORG_KW_ID = s.ORG_ID
    WHERE t.KEYWORD_ID = 0

	UPDATE THESISES_FACT_B_STG
     SET  DEPARTAMENT_ID= s.ID
    FROM THESISES_FACT_B_STG t
    INNER JOIN COUNTRIES s
     ON t.ORG_DEP_ID = s.ORG_ID
    WHERE t.DEPARTAMENT_ID = 0

	 UPDATE THESISES_FACT_B_STG
     SET DATE_ID = d.ID
    FROM THESISES_FACT_B_STG t
    INNER JOIN B_DATES d
     ON t.DT_OBT > d.ST_DATE
	 AND  t.DT_OBT < d.END_DATE
    WHERE t.DATE_ID = 0

insert into dbo.THESISES_FACT_B( DEPARTAMENT_ID, KEYWORD_ID, DATE_ID,  DPL_COUNT, DPL_SCORE_SUM )
select  DEPARTAMENT_ID, KEYWORD_ID, DATE_ID,  DPL_COUNT, DPL_SCORE_SUM  from dbo.THESISES_FACT_B_STG

   
END

GO
/****** Object:  StoredProcedure [dbo].[markStagingTablesAsProcessed]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[markStagingTablesAsProcessed]

AS
BEGIN

	SET NOCOUNT ON;

	  update dbo.THESISES_STG set VISITED = 1;
	  update dbo.THESISES_STG_BEXT set VISITED = 1;

END


GO
/****** Object:  StoredProcedure [dbo].[UpdateOfficial]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateOfficial]
    @ID int,
    @Name nvarchar(50),
    @Faculty nvarchar(50),
	@Departament nvarchar(50),
	@Position nvarchar(50) 
AS
BEGIN

	SET NOCOUNT ON;

   	UPDATE dbo.OFFICIALS
	set OFFICIAL_NAME=@Name,
	FACULTY=@Faculty,
	DEPARTAMENT=@Departament,
	POSITION=@Position
	where ORG_ID=@ID
	AND
	(SELECT COUNT(*) from dbo.OFFICIALS where 
	OFFICIAL_NAME=@Name AND
	FACULTY=@Faculty AND
	DEPARTAMENT=@Departament AND
	POSITION=@Position AND
    ORG_ID=@ID)=0
	;

END

GO
/****** Object:  Table [dbo].[A_DATES]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_DATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR] [nchar](10) NOT NULL,
	[SEMESTER] [nchar](10) NOT NULL,
	[ST_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
 CONSTRAINT [PK_A_DATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[B_DATES]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_DATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR] [nchar](10) NOT NULL,
	[ST_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
 CONSTRAINT [PK_B_DATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_ID] [int] NULL,
	[COUNTRY_NAME] [nchar](30) NOT NULL,
 CONSTRAINT [PK_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTAMENTS]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[DPT_NAME] [nchar](40) NOT NULL,
	[FACULTY] [nchar](30) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EDUCATION_FORMS]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDUCATION_FORMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[FORM_NAME] [nchar](20) NOT NULL,
 CONSTRAINT [PK_EDUCATION_FORMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KEYWORDS]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYWORDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[KWORD] [nchar](30) NOT NULL,
 CONSTRAINT [PK_KEYWORDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OFFICIALS]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[OFFICIAL_NAME] [nchar](60) NOT NULL,
	[FACULTY] [nchar](30) NOT NULL,
	[DEPARTAMENT] [nchar](40) NOT NULL,
	[POSITION] [nchar](30) NOT NULL,
 CONSTRAINT [PK_OFFICIALS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPECIALITIES]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[SPECIALITY_NAME] [nchar](30) NOT NULL,
	[FACULTY] [nchar](30) NOT NULL,
	[DEPARTAMENT] [nchar](40) NOT NULL,
	[DEGREE] [nchar](20) NOT NULL,
 CONSTRAINT [PK_SPECIALITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES_FACT_A]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES_FACT_A](
	[COUNTRY_ID] [int] NOT NULL,
	[SPECIALITY_ID] [int] NOT NULL,
	[FORM_ID] [int] NOT NULL,
	[OFFICIAL_ID] [int] NOT NULL,
	[DATE_ID] [int] NOT NULL,
	[DPL_COUNT] [int] NOT NULL,
	[DPL_SCORE_SUM] [float] NOT NULL,
 CONSTRAINT [PK_THESISES_FACT_A] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC,
	[SPECIALITY_ID] ASC,
	[FORM_ID] ASC,
	[OFFICIAL_ID] ASC,
	[DATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES_FACT_A_STG]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES_FACT_A_STG](
	[SPECIALITY_ID] [int] NOT NULL,
	[OFFICIAL_ID] [int] NOT NULL,
	[FORM_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[DATE_ID] [int] NOT NULL,
	[ORG_SPEC_ID] [int] NULL,
	[ORG_OFC_ID] [int] NULL,
	[ORG_FORM_ID] [int] NULL,
	[ORG_CNTR_ID] [int] NULL,
	[DT_OBT] [date] NULL,
	[DPL_CNT] [int] NULL,
	[DPL_SCR_SUM] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES_FACT_B]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES_FACT_B](
	[DEPARTAMENT_ID] [int] NOT NULL,
	[KEYWORD_ID] [int] NOT NULL,
	[DATE_ID] [int] NOT NULL,
	[DPL_COUNT] [int] NOT NULL,
	[DPL_SCORE_SUM] [float] NOT NULL,
 CONSTRAINT [PK_THESISES_FACT_B] PRIMARY KEY CLUSTERED 
(
	[DEPARTAMENT_ID] ASC,
	[KEYWORD_ID] ASC,
	[DATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES_FACT_B_STG]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES_FACT_B_STG](
	[DEPARTAMENT_ID] [int] NOT NULL,
	[KEYWORD_ID] [int] NOT NULL,
	[DATE_ID] [int] NOT NULL,
	[ORG_DEP_ID] [int] NOT NULL,
	[ORG_KW_ID] [int] NOT NULL,
	[DT_OBT] [date] NOT NULL,
	[DPL_COUNT] [int] NOT NULL,
	[DPL_SCORE_SUM] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES_STG]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES_STG](
	[ORG_ID] [int] NULL,
	[ORG_SPEC_ID] [int] NULL,
	[ORG_OFC_ID] [int] NULL,
	[ORG_FORM_ID] [int] NULL,
	[ORG_CNTR_ID] [int] NULL,
	[DT_OBT] [date] NULL,
	[SCORE] [float] NULL,
	[VISITED] [tinyint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THESISES_STG_BEXT]    Script Date: 14.1.2014 г. 17:33:38 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THESISES_STG_BEXT](
	[ORG_ID] [int] NULL,
	[ORG_KW_ID] [int] NULL,
	[ORG_DEP_ID] [int] NULL,
	[VISITED] [tinyint] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[THESISES_FACT_A_STG] ADD  CONSTRAINT [DF_THESISES_FACT_A_STG_SPECIALITY_ID]  DEFAULT ((0)) FOR [SPECIALITY_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_A_STG] ADD  CONSTRAINT [DF_THESISES_FACT_A_STG_OFFICIAL_ID]  DEFAULT ((0)) FOR [OFFICIAL_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_A_STG] ADD  CONSTRAINT [DF_THESISES_FACT_A_STG_FORM_ID]  DEFAULT ((0)) FOR [FORM_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_A_STG] ADD  CONSTRAINT [DF_THESISES_FACT_A_STG_COUNTRY_ID]  DEFAULT ((0)) FOR [COUNTRY_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_A_STG] ADD  CONSTRAINT [DF_THESISES_FACT_A_STG_DATE_ID]  DEFAULT ((0)) FOR [DATE_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_B_STG] ADD  CONSTRAINT [DF_THESISIES_FACT_B_STG_DEPARTAMENT_ID]  DEFAULT ((0)) FOR [DEPARTAMENT_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_B_STG] ADD  CONSTRAINT [DF_THESISIES_FACT_B_STG_KEYWORD_ID]  DEFAULT ((0)) FOR [KEYWORD_ID]
GO
ALTER TABLE [dbo].[THESISES_FACT_B_STG] ADD  CONSTRAINT [DF_THESISIES_FACT_B_STG_DATE_ID]  DEFAULT ((0)) FOR [DATE_ID]
GO
ALTER TABLE [dbo].[THESISES_STG] ADD  CONSTRAINT [DF_THESISES_STG_VISITED]  DEFAULT ((0)) FOR [VISITED]
GO
ALTER TABLE [dbo].[THESISES_STG_BEXT] ADD  CONSTRAINT [DF_THESISES_STG_BEXT_VISITED]  DEFAULT ((0)) FOR [VISITED]
GO
ALTER TABLE [dbo].[THESISES_FACT_A]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_A_A_DATES] FOREIGN KEY([DATE_ID])
REFERENCES [dbo].[A_DATES] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_A] CHECK CONSTRAINT [FK_THESISES_FACT_A_A_DATES]
GO
ALTER TABLE [dbo].[THESISES_FACT_A]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_A_COUNTRIES] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRIES] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_A] CHECK CONSTRAINT [FK_THESISES_FACT_A_COUNTRIES]
GO
ALTER TABLE [dbo].[THESISES_FACT_A]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_A_EDUCATION_FORMS] FOREIGN KEY([FORM_ID])
REFERENCES [dbo].[EDUCATION_FORMS] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_A] CHECK CONSTRAINT [FK_THESISES_FACT_A_EDUCATION_FORMS]
GO
ALTER TABLE [dbo].[THESISES_FACT_A]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_A_OFFICIALS] FOREIGN KEY([OFFICIAL_ID])
REFERENCES [dbo].[OFFICIALS] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_A] CHECK CONSTRAINT [FK_THESISES_FACT_A_OFFICIALS]
GO
ALTER TABLE [dbo].[THESISES_FACT_A]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_A_SPECIALITIES] FOREIGN KEY([SPECIALITY_ID])
REFERENCES [dbo].[SPECIALITIES] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_A] CHECK CONSTRAINT [FK_THESISES_FACT_A_SPECIALITIES]
GO
ALTER TABLE [dbo].[THESISES_FACT_B]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_B_B_DATES] FOREIGN KEY([DATE_ID])
REFERENCES [dbo].[B_DATES] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_B] CHECK CONSTRAINT [FK_THESISES_FACT_B_B_DATES]
GO
ALTER TABLE [dbo].[THESISES_FACT_B]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_B_DEPARTAMENTS] FOREIGN KEY([DEPARTAMENT_ID])
REFERENCES [dbo].[DEPARTAMENTS] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_B] CHECK CONSTRAINT [FK_THESISES_FACT_B_DEPARTAMENTS]
GO
ALTER TABLE [dbo].[THESISES_FACT_B]  WITH CHECK ADD  CONSTRAINT [FK_THESISES_FACT_B_KEYWORDS] FOREIGN KEY([KEYWORD_ID])
REFERENCES [dbo].[KEYWORDS] ([ID])
GO
ALTER TABLE [dbo].[THESISES_FACT_B] CHECK CONSTRAINT [FK_THESISES_FACT_B_KEYWORDS]
GO
USE [master]
GO
